/* * {
  border: 1px solid red;
} */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: #ff4f5a;
}

a:hover {
  color: #da4953;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.side-image {
  height: 30vh;
  background-image: url(../img/Sign-up-pana.svg);
  background-position: 0% 89%;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  flex: 1;
}

.page-intro,
.form-title {
  font-size: 1.5em;
  font-weight: 400;
}

.page-intro {
  padding: 2.5rem 2.5rem 1rem 2.5rem;
  text-align: center;
}

p:first-child {
  margin-top: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem 2.5rem 0 2.5rem;
  box-shadow: 0 10px 10px -10px #c7cbce;
}

.form-title {
  margin-bottom: 1.5rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: .4rem;
  width: 40ch;
  margin-bottom: 1rem;
}

.form-row:not(:nth-last-child(1)) {
  /* margin-bottom: 1rem; */
}

label {
  font-weight: 500;
}

input {
  appearance: none;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: .4rem 0.5rem;
  background-color: #ebebeb;
}

input:focus {
  outline: none;
  border: 1px solid black;
}

input + span {
 position: relative;
}

input:required + span::before {
  position: absolute;
  content: "required";
  color: black;
  background-color: #f0f0f0;
  padding: 0.25rem .5em;
  border-radius: 3px;
  font-size: 0.7rem;
  bottom: 2.8rem;
  left: 19rem;
}

input + span::after {
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
}

input:invalid:focus + span::after {
  content: '✖';
  color: red;
}

input:valid + span::after {
  content: '✔';
  color: green;
}

#password:focus + span + span::after {
  /* content: "Password must have minimum eight characters, at least one uppercase letter, one lowercase letter and one number"; */
  /* font-size: 0.7rem; */
}

#pwd-match-display {
  min-height: 1rem;
  font-size: 0.7rem;
}

.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2.5rem 4rem 2.5rem;
}

button {
  font-size: 1.4em;
  color: white;
  background-color: #ff4f5a;
  border: none;
  border-radius: 5px;
  padding: 1rem 2.0rem;
  margin-bottom: 2rem;
}

button:hover {
  background-color: #da4953;
  cursor: pointer;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  padding: 3px 0;
  text-decoration: none;
  color: black;
}

footer a:last-child {
  font-size: 0.8rem;
}

@media only screen and (min-width: 700px) {
  main {
    flex-direction: row;
  }

  .side-image {
    width: 40vw;
    height: auto;
    background-image: url(../img/Sign-up-pana2.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 800px;
  }

  .page-intro {
    padding: 6rem 2.5rem 2rem 2.5rem;
    text-align: left;
  }

  .form,
  .sign {
    display: block;
  }

  .form {
    padding-bottom: 2rem;
  }

  .form-row {
    display: flex;
    gap: 3rem;
  }

  .form-field {
    margin-bottom: 0;
    position: relative;
  }

  .form-row:not(:nth-last-child(1)) {
    margin-bottom: 1rem;
  }

  #password:focus + span + span::after {
    position: absolute;
  }

  #pwd-match-display {
    position: absolute;
    bottom: -1.4rem;
    left: -25.5rem;
  }
}