/* * {
  border: 1px solid red;
} */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
  
body {
  /* font-family: "system"; */
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #ff4f5a;
}

a:hover {
  color: #da4953;
}

main {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
}

.page-intro,
.form-title {
  font-size: 1.5em;
  font-weight: 400;
}

.page-intro {
  background-color: #f0f0f0;
  padding: 10rem 2.5rem 2rem 2.5rem;
}

p:first-child {
  margin-top: 0;
}

.form {
  background-color: white;
  padding: 2rem 2.5rem 1rem 2.5rem;
  box-shadow: 0 10px 10px -10px #c7cbce;
}

.form-title {
  margin-bottom: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 40ch;
}

.sign {
  padding: 2rem 2.5rem 2rem 2.5rem;
}

button {
  font-size: 1.4em;
  color: white;
  background-color: #ff4f5a;
  border: none;
  border-radius: 5px;
  padding: 1rem 2.0rem;
  margin-bottom: 2rem;
}

button:hover {
  background-color: #da4953;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .side-image {
    width: 40vw;
    background-image: url(../img/Mobile-login.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 800px;
  }

  .form-row {
    display: flex;
    gap: 3rem;
    margin-bottom: 1rem;
  }



}