* {
  border: 1px solid red;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
  
body {
    /* font-family: "system"; */
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 98vh;
}

main {
  display: flex;
  flex: 1;
}

.side-image {
  width: 40%;
  background-image: url(../img/Mobile-login.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.content {
  flex: 1;
}

.intro {
  font-size: 1.25em;
  font-weight: 500;
  background-color: #f0f0f0;
}